extends layouts/main.pug

block splash
    .stack#splash(class="center:fixed-width stack-size:large")
        img(src="/assets/icons/logo-alt-1.svg", alt="", class="icon:med")
        .frame
            video(src="/assets/splash.mp4" autoplay muted loop alt="hello there!")
        h1(class="font-size:variable text-align:center") VISUAL
            br
            span(class="typeface:untitled") DESIGNER
        a(class="button button-size:big" href="#works")
            img(src="/assets/icons/logo-alt-1.svg", alt="").icon
            span EXPLORE MY WORK
            .button-bg
    .cluster.main-social(class="center:variable-width")
        nav.cluster
            a(href="https://behance.net/katherine-le") BEHANCE
            a(href="https://instagram.com/meyuneko") INSTAGRAM
            a(href="https://www.linkedin.com/in/katherinele00") LINKEDIN
        p &#169; 2022

mixin entry(url, title, date, categories, thumb, idx)
    a(href=url)
        .entry(class="line-height:tight")
            - let len = collections.work.length
            .frame
                img(src=thumb, alt=title)
            .counter
                img(src="/assets/icons/logo-alt-2.svg", alt="").icon
                span &nbsp; #{idx + 1} / #{len}
            .stack(class="stack-size:smol center:fixed-width text-align:center").entrydata
                h2(class="font-size:variable") #{title}
                ul.cat(class="font-size:s cap:true")
                    each cat in categories
                        li #{cat.cat}
                .button(class="button-size:big")
                    img(src="/assets/icons/logo-alt-3.svg", alt="").icon
                    span VIEW WORK
                    .button-bg

block content
    .stack#about(class="center:fixed-width text-align:center")
        p(class="cap:true") Hello there!
        p(class="font-size:m typeface:freight") I'm Katherine, a visual designer who enjoys creating elegantly aesthetic solutions, with a touch of minimalism.
        p(class="font-size:m2 typeface:freight") Based in Winnipeg, MB &mdash; working worldwide.
        a(href="/about" class="button-size:big").button
            span MORE ABOUT ME
            .button-bg
    .stack#works
        h2(class="font-size:variable-xl text-align:center")
            | SELECTED
            br
            span(class="typeface:untitled") WORKS
        img(src="/assets/icons/logo-alt-2.svg", alt="", class="icon:big")
    .sticky#worksegment
        each work, index in collections.work.reverse()
            +entry(work.url, work.data.title, work.data.info.date, work.data.info.categories, work.data.info.thumb, index)
