extends layouts/main.pug

block splash
    .track-size#splash(data-mininlinesize="90ch")
        .frame
            video(src="/assets/splash-3.mp4" autoplay muted loop alt="hello there!")
        .overlay
            div
            .stack(class="center:fixed-width")
                img(src="/assets/icons/logo-alt-2.svg", alt="", class="icon:med")
                h1(class="text-align:center") crafting
                    br
                    span(class="typeface:freight-italics") aesthetic + elegant
                    br
                    span design solutions
            a#scroll.goto(class="center:fixed-width" href="#about")
                img(src="/assets/icons/scroll.svg", alt="").icon
    .cluster.main-social(class="center:variable-width")
        nav.cluster
            a.anim-underline(href="https://behance.net/katherine-le") BEHANCE
            a.anim-underline(href="https://instagram.com/meyuneko") INSTAGRAM
            a.anim-underline(href="https://www.linkedin.com/in/katherinele00") LINKEDIN
        p &#169; 2022

mixin entry(url, title, date, categories, thumb, idx)
    a(href=url)
        .stack(class="line-height:tight stack-size:smol")
            - let len = collections.work.length
            .counter(class="font-size:s")
                img(src="/assets/icons/logo-alt-2.svg", alt="").icon
                span &nbsp; 0#{idx} / 0#{len}
            .frame(class="frame:work")
                img(src=thumb, alt=title)
            .stack(class="stack-size:smol")
                h2(class="font-size:m") #{title}
                ul.cat(class="font-size:s cap:true")
                    each cat in categories
                        li #{cat.cat}

block content
    .stack#about(class="center:fixed-width text-align:center")
        p(class="cap:true") Hello there!
        p(class="font-size:l typeface:freight") I'm Katherine, a visual designer
            br
            | based in
            span(class="typeface:freight-italics") Winnipeg, MB.
        a(href="/about" class="button-size:big").button
            span MORE ABOUT ME
            .button-bg
    //- .stack#works
    //-     h2(class="font-size:variable-xl text-align:center")
    //-         | SELECTED
    //-         br
    //-         span(class="typeface:untitled") WORKS
    //-     img(src="/assets/icons/logo-alt-2.svg", alt="", class="icon:big")
    #works
    .track-size#worksegment(data-mininlinesize = "90ch" class="center:variable-width")
        each work, index in collections.work
            +entry(work.url, work.data.title, work.data.info.date, work.data.info.categories, work.data.info.thumb, index + 1)